{% extends 'main/base.html' %}
{% block body %}
	{% if user.is_authenticated %}
		<h1>New List</h1>
		<form action="{% url 'main:index' %}" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" class="btn btn-default" value="Add List">
		</form>
		<hr/>
	{% endif %}
	<h1>Created Lists</h1>
	{% if latest_task_list %}
		<ul>
			{% for task_list in latest_task_list %}
				<li><a href="{% url 'main:todo_list' task_list.id %}">{{ task_list.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No lists are available.</p>
	{% endif %}
{% endblock %}