{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<div id="preset">BFDjango TODO</div>
<div class="container">
	{% if task_list %}
		<h1>New Task</h1>
		<form action="{% url 'main:todo_list' task_list.id %}" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" class="btn btn-default" value="Add Task">
		</form>
		<hr/>
		<h1>Tasks in {{task_list.name}}</h1>
			<table style="width:100%" class="table">
				<tr class="column_names">
					<th>Task</th>
					<th>Created</th>
					<th>Due on</th>
					<th>Owner</th>
					<th>Mark</th>
				</tr>
				{% for ts in tasks %}
					<tr class="columns">
						<td id="task">{{ ts.name }}</td>
						<td>{{ ts.created_at|date:"d/m/y" }}</td>
						<td>{{ ts.due_on|date:"d/m/y" }}</td>
						<td>{{ ts.owner }}</td>
						<td id="mark">
							{% if ts.mark %}
								Done
							{% else %}
								Not Done
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		<a href="{% url 'main:completed_todo_list' task_list.id %}"><input type="button" id="view" value="View completed tasks"></a>
		<form action="{% url 'main:delete_list' task_list.id %}" method="POST">
			{% csrf_token %}
			<input type="submit" id="delete" value="Delete this list" name="deleteListBtn" />
		</form>
	{% else %}
		<p>No tasks are available.</p>
	{% endif %}
</div>